@import "bases/portal_base";
@import "../../Helpers/include-media";


.content {
  height: 100%;
  padding: 5%;

  font-family: "Poppins", sans-serif;


  .page-heading {
    font-size: 4rem;

    @include media('<=phone') {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0;

    }

    .page-heading-name {
      color: #03DD32;
    }
  }

  .welcome-note {
    margin-top: 5%;
    font-size: 1.7rem;

    @include media('<=phone') {
      font-size: 1.3rem;
    }
  }

  .page-1-button {


    background-color: #03DD32;
    color: #f2f2f2;

    font-size: 2rem;
    text-align: center;
    font-weight: 600;


    border: none;
    border-radius: 22px;

    width: 20%;

    margin: 15vh auto 0 auto;

    @include media('<=phone') {
      width: 80%;
      margin: 5vh auto 0 auto;

    }

    cursor: pointer;
  }

  .instructions-note {
    padding-top: 2.5%;
    font-size: 1.7rem;

    @include media('<=phone') {
      font-size: 1.3rem;
      text-align: justify;
    }

  }

  .form-gallery {
    padding-top: 5%;
    height: 100%;
    display: grid;
    //grid-template-rows: 1fr;
    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;

    @include media('<=tablet') {
      grid-auto-flow: row;
    }

    @include media('>tablet', '<laptop') {
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
    }

    @include media('>=laptop') {
      grid-auto-flow: column;
    }

    align-items: center;
    justify-items: center;

    .graphic {

      @include media('<=laptop') {
        width: 100%;
      }

      @include media('>laptop') {
        width: 17vw;
      }
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      display: flex;
      padding: 10%;

      height: 100%;

      align-items: center;
      justify-content: center;

      cursor: pointer;


    }

  }

  .page-1 {
    display: block;
  }

  .page-2 {
    display: none;

    .page-heading {
      @include media('<=phone') {
        text-align: center;
      }
    }
  }


}