{% extends 'account/bases/landing-base.html' %}

{% load static %}
{% load i18n %}


{% block title %} Login {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/CSS/login.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

        {#  Navbar  #}
        {% include 'account/snippets/landingNavbar.html' with logoColor="black" %}

        {# Main Content #}
        <div class="content">

            {% include 'account/snippets/authentication/form-box-wrapper.html' with action='login' %}

        </div>

        {% include 'account/snippets/authentication/other-options-wrapper.html' with action="login" %}


{% endblock %}


{% block javascript %}
{% endblock %}

