{% extends 'account/bases/message_base.html' %}

{% load static %}
{% load i18n %}



{% block title %}Logout{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/CSS/logout.css' %}">
{% endblock %}

{% block container-title %}
    Logout
{% endblock %}

{% block container-body %}
    Are you sure you want to log out?
    <div class="options">
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="button logout-option" type="submit">{% trans 'Log Out' %}</button>
        </form>
        <a href="{% url 'users:auth_redirect' %}" class="button go-back-option">Go Back</a>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}