{% extends 'account/bases/message_base.html' %}

{% load static %}
{% load i18n %}


{% block title %}Forgot Password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/CSS/password_reset.css' %}">
{% endblock %}


{% block container-title %}
    Forgot Password
{% endblock %}


{% block container-body %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset_form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="reset-button" value="{% trans 'Reset My Password' %}"/>
    </form>
    <div class="contact-us-wrapper">
        Please <a href="mailto:info@drmanishabandishti.com" style="display: inline">contact us</a> if you have any
        trouble resetting your password.
    </div>
{% endblock %}