{% extends 'account/bases/message_base.html' %}

{% load static %}
{% load i18n %}


{% block title %}Forgot Password{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'account/CSS/password_change.css' %}">
{% endblock %}


{% block container-title %}
    Change Password
{% endblock %}


{% block container-body %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change_form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="reset-button" value="{% trans 'Change My Password' %}"/>
    </form>
    <div class="contact-us-wrapper">
        Please note that you will be logged out after successfully changing your password.
    </div>
{% endblock %}