{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
{% include 'global/loader.html' %}
<div id="loader-wrapper" class="loader-wrapper">
    {% block body %}
    {% endblock %}
</div>


<script src="{% static 'global/js/loader.js' %}" defer></script>

{% block javascript %}
{% endblock %}
</body>
</html>