@import "../../../Helpers/include-media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.navbar-wrapper {
  background: #f2f2f2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;

  //height: fit-content;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);

  padding: 0 2%;


  .navbar-logo {
    width: fit-content;
    padding: 20px;
    align-self: center;

    .logo {
      width: 100%;
      max-width: 60vw;

      @include media('>phone', '<=tablet') {
        width: 50%;
      }
      @include media('>tablet', '<=laptop') {
        width: 50%;
      }
      @include media('>laptop') {
        width: 70%;
      }

    }
  }

  .nav-link-wrapper {
    display: none;
    @include media('>tablet') {
      display: grid;
    }

    align-items: center;
    justify-items: center;

    grid-template-columns: auto auto auto auto;

    .nav-link {
      text-decoration: none;

      font-family: 'Poppins', sans-serif;
      font-size: 1.5rem;

      @include media('<desktop') {
        font-size: 1rem;
      }


      @if variable_exists(action) {

        @if $action == 'login' or $action == 'signup' {

          @include media('>=laptop') {
            font-size: 5.2rem;
          }

          @include media('>tablet', '<laptop'){
            font-size: 4rem;
          }

          @include media('<=tablet') {
            font-size: 1.5rem;
          }
        }
      }
      font-weight: 600;
      color: black;
    }

    .register {
      background-color: #03DD32;
      padding: 5%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      border-radius: 26px;
    }

    .logout {
      background-color: #FF6301;
      padding: 5%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

      grid-column-start: 3;
      grid-column-end: 5;

      border-radius: 26px;

    }
  }

  .mobile-navbar {
    display: none;

    align-self: center;
    justify-self: center;

    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;

    @if variable_exists(action){
      font-size: 4rem;
    }

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 2% 4%;
    border-radius: 26px;

    @include media('<=tablet') {
      display: unset;
    }

    .navbar-open {
      display: block;
      cursor: pointer;

      color: black;
    }

    .nav-expand {
      position: fixed;
      width: 100%;
      left: 0;
      top: 70px;
      padding: 0;
      background: #FFFFFF;
      margin: 0;
      display: none;
      border-bottom: 1px solid #dfe5e8;
      z-index: 10;

      li {
        display: block;

        a {
          padding: 15px 15px;
          text-decoration: none;
          color: #78909C;
          display: block;
          background: rgb(245, 249, 249);
        }
      }
    }
  }
}