* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar-wrapper {
  background: #f2f2f2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3.5fr 1.5fr;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  padding: 0 2%;
}
.navbar-wrapper .navbar-logo {
  width: fit-content;
  padding: 20px;
  align-self: center;
}
.navbar-wrapper .navbar-logo .logo {
  width: 100%;
  max-width: 60vw;
}
@media (min-width: 438px) and (max-width: 768px) {
  .navbar-wrapper .navbar-logo .logo {
    width: 50%;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .navbar-wrapper .navbar-logo .logo {
    width: 50%;
  }
}
@media (min-width: 1441px) {
  .navbar-wrapper .navbar-logo .logo {
    width: 70%;
  }
}
.navbar-wrapper .nav-link-wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
}
.navbar-wrapper .nav-link-wrapper .nav-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
.navbar-wrapper .nav-link-wrapper .register {
  background-color: #03DD32;
  padding: 5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 26px;
}
.navbar-wrapper .nav-link-wrapper .logout {
  background-color: #FF6301;
  padding: 5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  grid-column-start: 3;
  grid-column-end: 5;
  border-radius: 26px;
}
