{% extends 'program/bases/portal_base.html' %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'program/CSS/onboarding_form.css' %}">

{% endblock %}

{% block body %}
    <div id="content" class="content">
        <section id="page-1" class="page-1">
            <div class="page-heading">
                Hey <span class="page-heading-name">{{ user.first_name }}</span>,
            </div>
            <div class="welcome-note">
                Congratulations are in order. You've taken the first step in setting and then shattering your health
                goals.
                Be it weight, fat or recovery, we are with you in this and we're going to see you through.<br><br>
                Before we can begin our journey, we need to get to know you better. Are you ready?
            </div>
            <div class="page-1-button" onclick="moveTo2()">
                Let's Do This!
            </div>
        </section>

        <section id="page-2" class="page-2">
            <div class="page-heading">
                Let's Get To Know You Better
            </div>
            <div class="instructions-note">
                This section is divided into 5 forms as shown below. There is no
                particular order and you don't have to do it all at once. The information you type will be saved automatically and
                filled the next time you log in.<br><br>

            </div>
            <div class="form-gallery">
                <a class="personal-info graphic" href="{% url 'users:personal_information_form' %}" >
                    <img alt="Personal Information" src="{% static 'program/assets/form_graphics/personal_info.svg' %}">
                </a>
                <div class="personal-medical graphic">
                    <img alt="Personal Medical History" src="{% static 'program/assets/form_graphics/personal_medical_history.svg' %}">
                </div>
                <div class="family-medical graphic">
                    <img alt="Family Medical History" src="{% static 'program/assets/form_graphics/family_medical_history.svg' %}">
                </div>
                <div class="associated-health-problems graphic">
                    <img alt="Associated Health Problems" src="{% static 'program/assets/form_graphics/associated_health_problems.svg' %}">
                </div>
                <div class="daily-routine graphic">
                    <img alt="Daily Routine" src="{% static 'program/assets/form_graphics/daily_routine.svg' %}">
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'program/js/onboarding_form.js' %}"></script>
{% endblock %}