@import "bases/information_template";


.container-body {

  display: grid;
  grid-template-rows: 1fr 0.5fr;


  .password_change_form {

    display: grid;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;

    font-family: "Poppins", sans-serif;


    label {
      display: none;
    }

    #id_oldpassword, #id_password1, #id_password2 {
      background: #a1c4f5;
      width: 55%;
      height: 20%;


      @include media('<=phone') {
        width: 80%;
        height: 60%;
      }

      text-align: center;

      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;

      color: black;

      border: none;
      border-radius: 22px;

      padding: 3%;

    }

    #reset-button {

      background-color: #03DD32;

      @include media('<=phone') {
        width: 80%;
      }


      border: none;
      border-radius: 15px;
      padding: 3%;

      font-size: 1.2rem;
      font-weight: 600;

      color: #f2f2f2;

      box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }
  }

  .contact-us-wrapper {
    padding: 3%;
  }
}